[
    {
        "content": "<p>Anyone yet tried the Kconfig python implementation for the rust tree? If I understand it correctly you should be able to replace kconfig with the python implementation, but I did not find a tree anywhere which contains the rustc_cfg response file generation (looking at zephyr right now, but that just used kconfig as well)</p>",
        "id": 464863823,
        "sender_full_name": "Fiona Behrens",
        "timestamp": 1724513774
    },
    {
        "content": "<p>What is to be gained from using the other implementation?</p>",
        "id": 465001015,
        "sender_full_name": "Andreas Hindborg",
        "timestamp": 1724587043
    },
    {
        "content": "<p>For the kernel not really something, therefore just the question if somebody tried. zephyr only has support for it, but that's a zephyr problem</p>",
        "id": 465021039,
        "sender_full_name": "Fiona Behrens",
        "timestamp": 1724597270
    },
    {
        "content": "<p>I haven't heard anything about anyone trying with it</p>",
        "id": 465040494,
        "sender_full_name": "Trevor Gross",
        "timestamp": 1724617151
    },
    {
        "content": "<p>Is something needed in tree for that?</p>",
        "id": 465040505,
        "sender_full_name": "Trevor Gross",
        "timestamp": 1724617184
    },
    {
        "content": "<p>the python thing has to be updated. In the end would say nothing we have to do untill someone actually tries and and notices it failing. My question was more a is somebody working on it, or not, so I'm happy</p>",
        "id": 465043492,
        "sender_full_name": "Fiona Behrens",
        "timestamp": 1724620419
    }
]