<html>
<head><meta charset="utf-8"><title>kconfiglib (python implementation) · General · Zulip Chat Archive</title></head>
<h2>Stream: <a href="http://mmarchini.me/rust-for-linux-zulip-archive/stream/288089-General/index.html">General</a></h2>
<h3>Topic: <a href="http://mmarchini.me/rust-for-linux-zulip-archive/stream/288089-General/topic/kconfiglib.20.28python.20implementation.29.html">kconfiglib (python implementation)</a></h3>

<hr>

<base href="https://rust-for-linux.zulipchat.com">

<head><link href="http://mmarchini.me/rust-for-linux-zulip-archive/style.css" rel="stylesheet"></head>

<a name="464863823"></a>
<h4><a href="https://rust-for-linux.zulipchat.com#narrow/stream/288089-General/topic/kconfiglib%20%28python%20implementation%29/near/464863823" class="zl"><img src="http://mmarchini.me/rust-for-linux-zulip-archive/assets/img/zulip.svg" alt="view this post on Zulip" style="width:20px;height:20px;"></a> Fiona Behrens <a href="http://mmarchini.me/rust-for-linux-zulip-archive/stream/288089-General/topic/kconfiglib.20.28python.20implementation.29.html#464863823">(Aug 24 2024 at 15:36)</a>:</h4>
<p>Anyone yet tried the Kconfig python implementation for the rust tree? If I understand it correctly you should be able to replace kconfig with the python implementation, but I did not find a tree anywhere which contains the rustc_cfg response file generation (looking at zephyr right now, but that just used kconfig as well)</p>



<a name="465001015"></a>
<h4><a href="https://rust-for-linux.zulipchat.com#narrow/stream/288089-General/topic/kconfiglib%20%28python%20implementation%29/near/465001015" class="zl"><img src="http://mmarchini.me/rust-for-linux-zulip-archive/assets/img/zulip.svg" alt="view this post on Zulip" style="width:20px;height:20px;"></a> Andreas Hindborg <a href="http://mmarchini.me/rust-for-linux-zulip-archive/stream/288089-General/topic/kconfiglib.20.28python.20implementation.29.html#465001015">(Aug 25 2024 at 11:57)</a>:</h4>
<p>What is to be gained from using the other implementation?</p>



<a name="465021039"></a>
<h4><a href="https://rust-for-linux.zulipchat.com#narrow/stream/288089-General/topic/kconfiglib%20%28python%20implementation%29/near/465021039" class="zl"><img src="http://mmarchini.me/rust-for-linux-zulip-archive/assets/img/zulip.svg" alt="view this post on Zulip" style="width:20px;height:20px;"></a> Fiona Behrens <a href="http://mmarchini.me/rust-for-linux-zulip-archive/stream/288089-General/topic/kconfiglib.20.28python.20implementation.29.html#465021039">(Aug 25 2024 at 14:47)</a>:</h4>
<p>For the kernel not really something, therefore just the question if somebody tried. zephyr only has support for it, but that's a zephyr problem</p>



<a name="465040494"></a>
<h4><a href="https://rust-for-linux.zulipchat.com#narrow/stream/288089-General/topic/kconfiglib%20%28python%20implementation%29/near/465040494" class="zl"><img src="http://mmarchini.me/rust-for-linux-zulip-archive/assets/img/zulip.svg" alt="view this post on Zulip" style="width:20px;height:20px;"></a> Trevor Gross <a href="http://mmarchini.me/rust-for-linux-zulip-archive/stream/288089-General/topic/kconfiglib.20.28python.20implementation.29.html#465040494">(Aug 25 2024 at 20:19)</a>:</h4>
<p>I haven't heard anything about anyone trying with it</p>



<a name="465040505"></a>
<h4><a href="https://rust-for-linux.zulipchat.com#narrow/stream/288089-General/topic/kconfiglib%20%28python%20implementation%29/near/465040505" class="zl"><img src="http://mmarchini.me/rust-for-linux-zulip-archive/assets/img/zulip.svg" alt="view this post on Zulip" style="width:20px;height:20px;"></a> Trevor Gross <a href="http://mmarchini.me/rust-for-linux-zulip-archive/stream/288089-General/topic/kconfiglib.20.28python.20implementation.29.html#465040505">(Aug 25 2024 at 20:19)</a>:</h4>
<p>Is something needed in tree for that?</p>



<a name="465043492"></a>
<h4><a href="https://rust-for-linux.zulipchat.com#narrow/stream/288089-General/topic/kconfiglib%20%28python%20implementation%29/near/465043492" class="zl"><img src="http://mmarchini.me/rust-for-linux-zulip-archive/assets/img/zulip.svg" alt="view this post on Zulip" style="width:20px;height:20px;"></a> Fiona Behrens <a href="http://mmarchini.me/rust-for-linux-zulip-archive/stream/288089-General/topic/kconfiglib.20.28python.20implementation.29.html#465043492">(Aug 25 2024 at 21:13)</a>:</h4>
<p>the python thing has to be updated. In the end would say nothing we have to do untill someone actually tries and and notices it failing. My question was more a is somebody working on it, or not, so I'm happy</p>



<hr><p>Last updated: Jul 24 2026 at 12:34 UTC</p>
</html>